<div class="flex flex-col p-8 rounded-xl bg-very-pale-orange text-medium-brown">
  <p class="mb-6 text-3xl font-bold text-dark-brown">Spending - Last 7 days</p>
  <app-expenses-bar-chart></app-expenses-bar-chart>
  <hr class="w-full my-3 border-cream" />
  <div>
    <p>Total this month</p>
    <div class="flex items-center justify-between">
      <p class="text-5xl font-bold text-dark-brown">$478.33</p>
      <div>
        <p class="font-bold text-dark-brown">+2.4%</p>
        <p>from last month</p>
      </div>
    </div>
  </div>
</div>
