@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.scss";

@font-face {
  font-family: DMSans;
  src: url(./assets/fonts/DMSans-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  margin: 0;
  font-family: DMSans;
  background-color: $cream;
}

.bg-soft-red {
  background-color: $soft-red;
}

.bg-very-pale-orange {
  background-color: $very-pale-orange;
}

.text-very-pale-orange {
  color: $very-pale-orange;
}

.text-dark-brown {
  color: $dark-brown;
}

.text-medium-brown {
  color: $medium-brown;
}

.border-cream {
  border-color: $cream;
}
